.footer-container {
  background-color: rgb(33, 37, 41);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: rgb(226, 226, 226);
}
